.parent-for-bg-img {
   background-image: url("/imgs/cars.jpg");
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   height: 100vh;
   padding-top: 60px;
}

.register-container {
   width: 30vw;
   margin: 0 auto;
   padding: 30px 50px 50px 50px;
   background: rgba(225, 225, 225, 0.1);
   border-radius: 20px;
   box-shadow: 0 0 15px 1px white;
}

.register-heading {
   text-align: center;
   color: white;
   font-size: 2.5rem;
   margin-bottom: 40px;
}

.register-form {
   display: flex;
   flex-direction: column;
}

.register-label {
   margin-bottom: 6px;
   font-weight: 600;
   font-size: 16px;
   color: #c7c6c6;
}

.register-input {
   padding: 10px 12px;
   margin-bottom: 30px;
   border: none;
   border-bottom: 1px solid tomato;
   font-size: 16px;
   transition: all 0.3s ease;
}

.register-input:focus {
   border: none;
   outline: 1px solid tomato;
}
.error-message {
   color: red;
   font-size: 1.32rem;
   text-align: center;
}

.register-btn-modifier {
   margin-top: 10px;
}

@media screen and (max-width: 425px) {
   .register-container {
      width: 98vw;
      padding: 25px;
   }
   .register-heading {
      margin-bottom: 25px;
   }
   .register-input {
      margin-bottom: 20px;
      padding: 10px !important;
   }
   .register-btn-modifier {
      margin-bottom: 10px;
      width: 50%;
      padding: 10px !important;
      align-self: flex-end;
   }
}

@media screen and (max-width: 768px) {
   .register-container {
      width: 60vw;
   }
}

@media screen and (max-width: 568px) {
   .register-container {
      width: 80vw;
   }
}
@media screen and (max-width: 992px) {
}
